# Dataset folder
Dataset/

# Byte-compiled / optimized / DLL files
__pycache__/
src/core/Llama-3.1-8B-Instruct-ft/
src/core/__pycache__/
src/core/assets/
src/core/results/
src/core/wandb/

# initial experiments
src/core/initial_exp/

# bot stuff
.env

# Note
src/dataset/todo.md
./src/llms.md

# chunking and streaming
src/core/chunking_and_streaming/data/
src/core/chunking_and_streaming/guidelines.md
src/core/chunking_and_streaming/visualize_chunks.py
src/core/chunking_and_streaming/chunks.py
src/core/chunking_and_streaming/datacollator.py

setup/unsloth.sh
setup/unsloth.yml
src/core/chunking_and_streaming/checkpoints/
src/core/chunking_and_streaming/lora_model/
src/core/chunking_and_streaming/trainer/
src/core/chunking_and_streaming/unsloth_compiled_cache/
src/core/chunking_and_streaming/wandb/
src/llms.md
src/vullm_pipeline.egg-info/
unsloth_compiled_cache/
